<?xml version="1.0" ?>
<!--<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  --><!--<system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="GetJson">
          <enableWebScript />
        </behavior>
        
        <behavior name="PostJson">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    -->
  <!--<bindings>
      <webHttpBinding>
        <binding name="crossDomain" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>-->
  <!--
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <services>
      <service name="WcfAjaxJson.Service1">
        <endpoint address="get-json"
                  binding="webHttpBinding"
                  behaviorConfiguration="GetJson"
                  contract="WcfAjaxJson.IService1" />
        <endpoint address="post-json"
                  binding="webHttpBinding"
                  behaviorConfiguration="PostJson"
                  contract="WcfAjaxJson.IService1" />
      </service>
    </services>
  </system.serviceModel>-->
  <!--<system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="default"/>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="WcfAjaxJson.Service1"
         behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="" binding="webHttpBinding"
          bindingConfiguration="default"
          contract="WcfAjaxJson.IService1"
          behaviorConfiguration="webScriptEnablingBehavior"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webScriptEnablingBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>-->

<configuration>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="MyServiceBehavior">
          <enableWebScript />
          <!--<webHttp />-->
          <!--<CorsSupport />-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--<extensions>
      <behaviorExtensions>
        <add name="CorsSupport" type="WebHttpCors.CorsSupportBehaviorElement, WebHttpCors, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>-->

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

    <services>
      <service name="WcfAjaxJson.Service1">
        <endpoint address="" behaviorConfiguration="MyServiceBehavior"
          binding="webHttpBinding" contract="WcfAjaxJson.IService1" >
        </endpoint>
      </service>
    </services>

  </system.serviceModel>

  <system.webServer>
    <directoryBrowse enabled="true"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

</configuration>

